<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ral.young.night.project.mapper.UserMapper">

    <update id="batchUpdateUserName">
        update night_user
        <set>
            name = case
            <foreach collection="list" item="item" index="index" separator=" " open=" " close=" ">
                when id = #{item.id} then #{item.name}
            </foreach>
            end
        </set>

        <set>
            age = case
            <foreach collection="list" item="item" index="index" separator=" " open=" " close=" ">
                when id = #{item.id} then #{item.age}
            </foreach>
            end
        </set>
    </update>
</mapper>

